body {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0px;
  z-index: 0;
}

h1 {
  margin: 0px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://images.unsplash.com/photo-1521075821520-ae40128c1ea0?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  opacity: 25%; /* Adjust this value */
  z-index: -1;
}

img {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 50%;
}

button {
  width: 175px;
  height: 40px;
  border: 0px;
  border-radius: 3px;
}
